<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="melonds_console_mode" values="DS|DSi" default="DS"/>
		<setting label="30002" type="select" id="melonds_boot_directly" values="enabled|disabled" default="enabled"/>
		<setting label="30003" type="select" id="melonds_use_fw_settings" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="melonds_language" values="English|Japanese|French|German|Italian|Spanish" default="English"/>
		<setting label="30005" type="select" id="melonds_randomize_mac_address" values="disabled|enabled" default="disabled"/>
		<setting label="30006" type="select" id="melonds_dsi_sdcard" values="disabled|enabled" default="disabled"/>
		<setting label="30007" type="select" id="melonds_threaded_renderer" values="disabled|enabled" default="disabled"/>
		<setting label="30008" type="select" id="melonds_opengl_renderer" values="disabled|enabled" default="disabled"/>
		<setting label="30009" type="select" id="melonds_opengl_resolution" values="1x native (256x192)|2x native (512x384)|3x native (768x576)|4x native (1024x768)|5x native (1280x960)|6x native (1536x1152)|7x native (1792x1344)|8x native (2048x1536)" default="1x native (256x192)"/>
		<setting label="30010" type="select" id="melonds_opengl_better_polygons" values="disabled|enabled" default="disabled"/>
		<setting label="30011" type="select" id="melonds_opengl_filtering" values="nearest|linear" default="nearest"/>
		<setting label="30012" type="select" id="melonds_mic_input" values="Blow Noise|White Noise" default="Blow Noise"/>
		<setting label="30013" type="select" id="melonds_audio_bitrate" values="Automatic|10-bit|16-bit" default="Automatic"/>
		<setting label="30014" type="select" id="melonds_audio_interpolation" values="None|Linear|Cosine|Cubic" default="None"/>
		<setting label="30015" type="select" id="melonds_touch_mode" values="Mouse|Touch|Joystick|disabled" default="Mouse"/>
		<setting label="30016" type="select" id="melonds_swapscreen_mode" values="Toggle|Hold" default="Toggle"/>
		<setting label="30017" type="select" id="melonds_screen_layout" values="Top/Bottom|Bottom/Top|Left/Right|Right/Left|Top Only|Bottom Only|Hybrid Top|Hybrid Bottom" default="Top/Bottom"/>
		<setting label="30018" type="select" id="melonds_screen_gap" values="0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59|60|61|62|63|64|65|66|67|68|69|70|71|72|73|74|75|76|77|78|79|80|81|82|83|84|85|86|87|88|89|90|91|92|93|94|95|96|97|98|99|100|101|102|103|104|105|106|107|108|109|110|111|112|113|114|115|116|117|118|119|120|121|122|123|124|125|126" default="0"/>
		<setting label="30019" type="select" id="melonds_hybrid_small_screen" values="Bottom|Top|Duplicate" default="Bottom"/>
		<setting label="30020" type="select" id="melonds_hybrid_ratio" values="2|3" default="2"/>
		<setting label="30021" type="select" id="melonds_jit_enable" values="enabled|disabled" default="enabled"/>
		<setting label="30022" type="select" id="melonds_jit_block_size" values="32|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31" default="32"/>
		<setting label="30023" type="select" id="melonds_jit_branch_optimisations" values="enabled|disabled" default="enabled"/>
		<setting label="30024" type="select" id="melonds_jit_literal_optimisations" values="enabled|disabled" default="enabled"/>
		<setting label="30025" type="select" id="melonds_jit_fast_memory" values="enabled|disabled" default="enabled"/>
	</category>
</settings>
