<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="melonds_boot_directly" values="enabled|disabled" default="enabled"/>
		<setting label="30002" type="select" id="melonds_screen_layout" values="Top/Bottom|Bottom/Top|Left/Right|Right/Left|Top Only|Bottom Only|Hybrid Top|Hybrid Bottom" default="Top/Bottom"/>
		<setting label="30003" type="select" id="melonds_hybrid_ratio" values="2|3" default="2"/>
		<setting label="30004" type="select" id="melonds_swapscreen_mode" values="Toggle|Hold" default="Toggle"/>
		<setting label="30005" type="select" id="melonds_threaded_renderer" values="disabled|enabled" default="disabled"/>
		<setting label="30006" type="select" id="melonds_touch_mode" values="disabled|Mouse|Touch|Joystick" default="disabled"/>
		<setting label="30007" type="select" id="melonds_opengl_renderer" values="disabled|enabled" default="disabled"/>
		<setting label="30008" type="select" id="melonds_opengl_resolution" values="1x native (256x192)|2x native (512x384)|3x native (768x576)|4x native (1024x768)|5x native (1280x960)|6x native (1536x1152)|7x native (1792x1344)|8x native (2048x1536)" default="1x native (256x192)"/>
		<setting label="30009" type="select" id="melonds_opengl_better_polygons" values="disabled|enabled" default="disabled"/>
		<setting label="30010" type="select" id="melonds_opengl_filtering" values="nearest|linear" default="nearest"/>
		<setting label="30011" type="select" id="melonds_jit_enable" values="enabled|disabled" default="enabled"/>
		<setting label="30012" type="select" id="melonds_jit_block_size" values="32|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59|60|61|62|63|64|65|66|67|68|69|70|71|72|73|74|75|76|77|78|79|80|81|82|83|84|85|86|87|88|89|90|91|92|93|94|95|96|97|98|99|100" default="32"/>
		<setting label="30013" type="select" id="melonds_jit_branch_optimisations" values="enabled|disabled" default="enabled"/>
		<setting label="30014" type="select" id="melonds_jit_literal_optimisations" values="enabled|disabled" default="enabled"/>
		<setting label="30015" type="select" id="melonds_jit_fast_memory" values="enabled|disabled" default="enabled"/>
	</category>
</settings>
